@import url("https://fonts.googleapis.com/css?family=Lato|Raleway&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

body {
  background: rgba(225, 202, 225, 1);
}

.card {
  width: 33vw;
  margin: 35px auto;
}

.card-body {
  background: rgba(152, 179, 166, 1);
  display: flex;
  flex-direction: column;
  border-radius: 20px;
}

.basicInfo {
  display: flex;
  padding: 1em;
  justify-content: space-between;
  align-items: center;
}

.textBlock {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-family: "Raleway", sans-serif;
  border-bottom: 5px solid rgba(236, 185, 205, 1);
}

.revealButton {
  font-family: "Lato", sans-serif;
  padding: 0.5rem;
  cursor: pointer;
}

.pic {
  margin-left: 2rem;
  border: 3px solid rgba(236, 185, 205, 1);
  border-radius: 50%;
}

.isNotExpanded {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: max-height .33s ease-out;
}

.details {
  display: flex;
  font-family: "Lato", sans-serif;
  border-top: 1.5px solid rgb(220, 185, 236);
  padding: 1rem;
  max-height: 90px;
  opacity: 1;
  transition: max-height .33s cubic-bezier(.525, .66, .495,.5), opactiy .5s ease-in;
}

.detailsLeft {
  width: 50%;
  margin-left: 1rem;
}

.detailsRight {
  width: 50%;
  margin-left: 1rem;
}
